boto3==1.11.9
botocore==1.14.9
certifi==2019.11.28
chardet==3.0.4
docutils==0.15.2
idna==2.8
imutils==0.5.3
jmespath==0.9.4
JSON-minify==0.3.0
numpy==1.22.0
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
pkg-resources==0.0.0
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
s3transfer==0.3.2
six==1.14.0
twilio==6.35.3
urllib3==1.25.8
